<form class="layui-form">
    <input type="hidden" name="id" value="{{.info.Id}}" />
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="username" value="{{.info.Username}}" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="text" name="password" value="" value="" placeholder="请输密码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="addmenu">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use('form', function(){
        var form = layui.form(),
                $ = layui.jquery
        //重新渲染
        form.render();
        //监听提交
        form.on('submit(addmenu)', function(data){
            var userInfo = data.field;
            var url = "/admin/admin/edit";
            $.post(url,userInfo,function(data){
                if(!data.status){
                    layer.msg(data.msg,{icon: 5});//失败的表情
                    return;
                }else{
                    layer.msg(data.msg, {
                        icon: 6,//成功的表情
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        location.reload();
                    });
                }

            })
            return false;//阻止表单跳转
        });
    });
</script>