<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>系统用户</title>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/css/global.css" media="all">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
</head>

<body>
<div class="admin-main">

    <blockquote class="layui-elem-quote">
        <button class="layui-btn layui-btn-small add">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>系统用户</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>用户名</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {{range $k, $v := .list}}
                <tr>
                    <td>{{$v.Id}}</td>
                    <td>{{$v.Username}}</td>
                    <td>
                        {{if eq $v.Status	1}}
                            <span class="layui-btn layui-btn-mini layui-btn-warm">正常</span>
                        {{else}}
                            <span class="layui-btn layui-btn-mini layui-btn-danger">禁用</span>
                        {{end}}
                    </td>
                    <td>
                        <a data="{{$v.Id}}" class="layui-btn layui-btn-mini layui-btn-normal edit"><i class="layui-icon">&#xe642;</i>编辑</a>
                        <a  data="{{$v.Id}}" class="layui-btn layui-btn-danger layui-btn-mini del"><i class="layui-icon">&#xe640;</i>删除</a>

                        {{if eq $v.Status	1}}
                            <a  data="{{$v.Id}}" data-status="{{$v.Status}}" class="layui-btn layui-btn-danger layui-btn-mini forbid"><i class="layui-icon">&#xe617;</i>禁用</a>
                        {{else}}
                            <a  data="{{$v.Id}}" data-status="{{$v.Status}}" class="layui-btn layui-btn-warm layui-btn-mini forbid"><i class="layui-icon">&#xe63f;</i>恢复</a>
                        {{end}}
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
            <div class="Pagination">
            {{template "admin/public/paginator.html" .}}
            </div>
        </div>
    </fieldset>
</div>
<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
<script>
    layui.use(['laypage','layer','form'], function() {
        var laypage = layui.laypage,
                $ = layui.jquery
        //请求表单
        $('.add').click(function(){
            var url = "/admin/admin/add";
            $.get(url,{},function(data){
                layer.open({
                    title:'添加',
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['500px'], //宽高
                    content: data,
                });
            })
        });

        //编辑菜单
        $('.edit').click(function(){
            var id = $(this).attr('data');
            var url = "/admin/admin/edit";

            $.get(url,{id:id},function(data){

                layer.open({
                    title:'编辑',
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['500px'], //宽高
                    content: data,
                });
            })
        });

        //删除
        $('.del').click(function(){
            var id = $(this).attr('data');
            var url = "/admin/admin/delete";
            layer.confirm('确定删除吗?', {
                icon: 3,
                skin: 'layer-ext-moon',
                btn: ['确认','取消'] //按钮
            }, function(){
                $.post(url,{id:id},function(data){
                    if(!data.status){
                        layer.msg(data.msg,{icon: 5});//失败的表情
                        return;
                    }else{
                        layer.msg(data.msg, {
                            icon: 6,//成功的表情
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            location.reload();
                        });
                    }
                })
            });
        })

        //禁用
        $('.forbid').click(function(){
            var id = $(this).attr('data');
            var status = $(this).attr('data-status');
            var url = "/admin/admin/forbid";
            var status_str = status == "1" ? '禁用' : '恢复';
            layer.confirm('确定'+status_str+'吗?', {
                icon: 3,
                skin: 'layer-ext-moon',
                btn: ['确认','取消'] //按钮
            }, function(){
                $.post(url,{id:id},function(data){
                    if(!data.status){
                        layer.msg(data.msg,{icon: 5});//失败的表情
                        return;
                    }else{
                        layer.msg(data.msg, {
                            icon: 6,//成功的表情
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            location.reload();
                        });
                    }
                })
            });
        })

    });
</script>
</body>

</html>