<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
<div class="admin-main">
    <blockquote class="layui-elem-quote">
        <p>欢迎使用管理平台</p>
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>欢迎使用管理平台</legend>
        <div class="layui-field-box">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>版本号:# v1.0.0 2016-12-26</legend>
                <div class="layui-field-box">
                    <p>1、内容管理</p>
                    <p>2、资讯管理</p>
                </div>
            </fieldset>
        </div>
    </fieldset>
</div>
</body>

</html>