<div class="layui-header header header-demo">
    <div class="layui-main">
        <a class="logo" style="left: 0;" href="">
            <span style="font-size: 22px;">管理平台</span>
        </a>
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="javascript:;" class="refresh_wrapper"><i class="fa fa-refresh right_tool_icon"></i> 刷新</a>
            </li>
            <!-- <li class="layui-nav-item">
                <a href="{:U('Index/clearCache')}">清除缓存</a>
            </li> -->
            <li class="layui-nav-item">
                <a href="/" target="_blank">浏览网站</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" class="admin-header-user">

                    <span>{{.admin_info.Username}}</span>
                </a>
                <dl class="layui-nav-child">
                    <!--<dd>
                        <a href="javascript:;"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</a>
                    </dd>
                    <dd>
                        <a href="javascript:;"><i class="fa fa-gear" aria-hidden="true"></i> 设置</a>
                    </dd>-->
                    <dd>
                        <a href="/admin/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>